  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-4 sidebar-dark-pink">
    <!-- Brand Logo -->
    <a href="/dashboard" class="brand-link d-flex justify-content-center">
      <span class="brand-text font-weight-dark">Covid-19</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
        <div class="info">
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link <% if (page === 'Dashboard') { %> active <% } %>">
              <i class="nav-icon fas fa-fw fa-list-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-header">Master</li>
          <li class="nav-item">
            <a href="/covid" class="nav-link <% if (page === 'Data Covid') { %> active <% } %>">
              <i class="nav-icon fas fa-fw fa-user-alt"></i>
              <p>
                Data Covid
              </p>
            </a>
          </li>
          
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
